.main{
    margin-left: 15%;
    padding: 17px 20px;
    background-color: rgb(241, 240, 240);
    margin-top: 60px;

}
/* .reservationandCampaign{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */