.twitterComponent{
    height: 400px;
    background-color: rgba(109, 179, 219, 0.699);
    text-align: center;
    /* margin: 2rem 4rem; */
}
.twitterComponentInner{
    padding: 1rem 0;
    display: flex;
    height: 82%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.twitterComponentHeader{
    background-color: rgba(128, 128, 128, 0.288);
    margin: 0;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.753);
}
.twitterComponent a{
    color: white;
}

.twitterIcon {
    font-size: 4rem;
}